<header id="header-nav" class="fixed w-screen py-4 z-50 top-0 px-8 lg:px-0">
    <div class="grid grid-cols-3 max-w-7xl mx-auto items-center justify-between">
        <a href="/" class="col-span-1">
            <img class="w-40 h-auto" src="/logo.webp" alt="">
        </a>
        <nav class="col-span-1 justify-self-center">
            <ul class="flex gap-4">
                <li><a class="hover:underline" href="#">DEPARTAMENTOS</a></li>
                <li><a class="hover:underline" href="#">EQUIPAMIENTO</a></li>
                <li><a class="hover:underline" href="#">IMAGENES</a></li>
                <li><a class="hover:underline" href="#">REQUISITOS</a></li>
            </ul>
        </nav>
        <a 
            href="https://api.whatsapp.com/send?phone=56976728991&text=%C2%A1Hola!%20Me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n%20para%20arrendar%20un%20depto%20nuevo%20en%20Somma%20-%20Plaza%20%C3%91u%C3%B1oa%20"
            class="border rounded-full inline-block border-white px-4 py-2
            justify-self-end hover:bg-white hover:text-black duration-300">
            CONTACTANOS
        </a>
    </div>
</header>